	body{
		margin-left: 20px;
		margin-top: 20px;
		margin-right: 20px;
		background-image: url(background.jpg);
	}
	
	header{
		background-color: brown;
	}
	
	h1{
		text-align: center;
	}
  
	.important{
		font-size: large;  
	}
	
	.table {
		display: table;
		width: 100%;
		
		text-align: center;
		margin-bottom: 10px;
		padding-bottom: 10px;
		padding-top: 1px;
	}
  
	.menu {
		width: 140px;
		list-style: none;
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
		font-size: 10pt;
		position:fixed;
		top:50px;
		left:0;
		float: left;
    }
   
   .small-menu {
		list-style: none;
		position: absolute;
		display: none;
		margin-left: 100px;
		margin-top: -2em;
    }
   
	li a {
		display: block; /* Ссылка как блочный элемент */
		padding: 5px;
		text-decoration: none;
		color: #666; 
		border: 1px solid #ccc;
		background-color: #f0f0f0;
		border-bottom: none; 
	}
   
    li a:hover {
		color: #ffe; 
		background-color: #5488af;
	}
   
    li:hover ul { 
		display: block;
	}
   
	.brd {
		border-bottom: 1px solid #ccc;
	}
   
	div h3{
		margin-left:20px;   
	}
	   
	div{
		margin: 10px;
	}
	   
	.border{
		border: 3px solid #ccc;
	}
	   
	#background{
	    background: url(2.jpg) repeat-y #fc0;
	    width: 34%;
	}
	
	#News{
		margin-left:10px;
	}
	   
	footer {
		left: 0; bottom: 0; /* Левый нижний угол */
		padding: 10px;
		background-color: #f0f0f0;
		color: #666;
		width: 100%;
	}

	.opacity {
		visibility: hidden;
	}

	.opacity {
		animation-name: my-opacity-transform;
		-webkit-animation-name: my-opacity-transform; 
		animation-duration: 0.7s; 
		-webkit-animation-duration: 0.7s;
		animation-timing-function: ease; 
		-webkit-animation-timing-function: ease; 
		visibility: visible; 
	}
	@keyframes my-opacity-transform{0%{transform:scale(0);opacity:0}10%{transform:scale(0.1);opacity:.1;transform:scale(0.1);opacity:.1}20%{transform:scale(0.2);opacity:.2}30%{transform:scale(0.3);opacity:.3}40%{transform:scale(0.4);opacity:.4}50%{transform:scale(0.5);opacity:.5}60%{transform:scale(0.6);opacity:.6}70%{transform:scale(0.7);opacity:.7}80%{transform:scale(0.8);opacity:.8}90%{transform:scale(0.9);opacity:.9}100%{transform:scale(1);opacity:1}}
	@-webkit-keyframes my-opacity-transform{0%{transform:scale(0);opacity:0}10%{transform:scale(0.1);opacity:.1}20%{transform:scale(0.2);opacity:.2}30%{transform:scale(0.3);opacity:.3}40%{transform:scale(0.4);opacity:.4}50%{transform:scale(0.5);opacity:.5}60%{transform:scale(0.6);opacity:.6}70%{transform:scale(0.7);opacity:.7}80%{transform:scale(0.8);opacity:.8}90%{transform:scale(0.9);opacity:.9}100%{transform:scale(1);opacity:1}}